body {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    background: #325a99;
    margin: 0;
    padding: 20px;
    color: whitesmoke;
}

.lefts {
     border: 2px solid;
     height: 400px;
}
.line{
    height: 400px;
    padding: 30px;
    scroll-behavior: smooth;
 
}
.left p {
    text-align: center;
}

.headers{
    display: flex;
    width: 100%;
   
}
.font{
    font-size: 5px;
}